:root {
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  color: aliceblue;
  font-family: Acme;
  --green: hsl(123, 47%, 74%);
  --blue: hsl(210, 47%, 74%);
  --orange: hsl(34, 93%, 77%);
  --purple: hsl(231, 44%, 76%);
  --yellow: hsl(54, 76%, 79%);
  --brown: hsl(20, 41%, 69%);
  --red: hsl(0, 59%, 76%);
  --pink: hsl(295, 42%, 72%);
  --white: hsl(0, 0%, 100%);
}

.acme-regular {
  font-family: "Acme", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* hide page scrollbar */
html {
  scrollbar-width: none;
}

body {
  -ms-overflow-style: none;
}

body::-webkit-scrollbar,
body::-webkit-scrollbar-button {
  display: none;
}

/* end hide page scrollbar */



#header {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 20px;
  transform: translateY(-100%);
  animation: slideIn 1s forwards;
  font-size: larger;
}

.subHeader {
  text-decoration: underline;
  text-underline-offset: 2px;
  font-size: x-large;
}


.rotateType,
.rotateName {
  display: inline-block;
}

.portfolioHeader:hover .rotateType {
  cursor: pointer;
  transform: rotate(-1deg);
}

.portfolioHeader:hover .rotateName {
  cursor: pointer;
  transform: rotate(2deg);
}

.headerLinksContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.links:hover {
  transform: scale(1.1);
}

#landingPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 88vh;
  opacity: 0;
  animation: fadeIn 2.5s forwards;
}

#landingPage p {
  font-size: 5rem;
}

#greetings {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -7rem;
}

#technologies {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap:50px;
  margin-left: -7rem;
}


.blob {
  height: 100px;
  width: 100px;
  text-align: center;
  position: relative;
}

.blob img {
  position: absolute;
  top: 20px;
  left: 20px;
}

.blob svg {
  display: block;
  margin: auto;
}

.blob:hover {
  transform: scale(1.1);
}

#certificatesContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%;
  margin: 10px;
}

.certificateDivHidden {
  background-image: linear-gradient(to right, purple, pink);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  position: relative;
  width: 300px;
  opacity: 0;
  filter: blur(5px);
  transition: all 1s;
}

.certificateDivHidden:nth-child(2) {
  transition-delay: 200ms;
}


.certificateDivHidden:nth-child(3) {
  transition-delay: 400ms;
}


.certificateDivHidden:nth-child(4) {
  transition-delay: 600ms;
}

.show {
  opacity: 1;
  filter: blur(0);
}

.certificateImageHolder:hover {
  transform: scale(.99);
}

.certificateImageHolder {
  position: absolute;
  border-radius: inherit;
  background-color: black;
  top: 1px;
  left: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}



#azCertificate {
  background-image: url("./images/az-900.png");
}

#dpCertificate {
  background-image: url("./images/dp-100.png");
}

#pythonCertificate {
  background-image: url("./images/asp\ web\ app.png");
}

#aspCertificate {
  background-image: url("./images/python_certification.png");
}

#agileCertificate {
  background-image: url("./images/agile\ project\ managment.png");
}


#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  margin: 10px;
}

#cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  width: 100%
}

#cardsContainer:hover>.card>.cardBorder {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  height: 260px;
  position: relative;
  width: 300px;
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card>.cardBorder {
  border-radius: inherit;
  content: "";
  height: 100%;
  opacity: 0;
  position: absolute;
  left: 0px;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
  z-index: 2;
}

.card::before {

  background: radial-gradient(800px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.1),
      transparent 40%);

  z-index: 3;
}

.card>.cardBorder {
  background: radial-gradient(400px circle at var(--mouse-x) var(--mouse-y),
      rgba(255, 255, 255, 0.3),
      transparent 40%);
  z-index: 1;
}


.card>.cardContent {
  background-color: rgb(23, 23, 23);
  border-radius: inherit;
  margin: 1px;
  height: calc(100% - 2px);
  width: calc(100% - 2px);
  position: relative;
  z-index: 2;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.cardDescription{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: end;
}


.cardContent:hover {
  color: black;
}


#about p {
  margin: 10px;
  font-size: x-large;
}

.socialLinks {
  display: flex;
  gap: 10px;
}

@keyframes wiggle {

  0%,
  100% {
    transform: rotate(0deg);
  }

  25%,
  75% {
    transform: rotate(7deg);
  }

  50%,
  90% {
    transform: rotate(-7deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideIn {

  100% {
    transform: translateY(0%);
  }

}

@keyframes orbitin {
  100% {
    rotate: 1turn;
  }

}

@media  (max-width: 620px) {

  #header {
    font-size: medium;
      grid-template-columns: 1fr 2fr;
  }

  #landingPage {
    display: flex;
    flex-direction: column;
  }

  #greetings {
    margin-right: 0;
  }

  #greetings div {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  #technologies {
    gap:10px;
    margin-left: 0;
  }

  #landingPage p {
    font-size: 2rem;
  }

}

@media  (max-width: 800px) {

  #greetings {
    margin: 0;
  }

  #technologies{
    gap: 0px;
    margin: 0;
  }
}